<div class="container mt-5 mb-3 border border-light p-3">
    <form>
   <div class="row">
           <h3 class="text-dark text-center mb-3">Add New Restuarant Details</h3>
           <div class="col-md-6">

           <div class="mb-2">
            <input [(ngModel)] ="id" type="text" name="id" placeholder="Restuarant Id" class="form-control">
           </div>

           <div class="mb-2">
            <input [(ngModel)] ="neighbourhood" type="text" name="neighbourhood" placeholder="Restuarant neighbourhood" class="form-control">
           </div>

           <div class="mb-2">
            <input [(ngModel)] ="Photograph" type="text" name="Photograph" placeholder="Restuarant Image" class="form-control">
           </div>

           <div class="mb-2">
            <label class="text-dark mb-2" for="">Operating Hours</label>
            <input [(ngModel)] ="Monday" name="Monday" type="text" placeholder="Monday" class="form-control col-8 d-inline mb-2">
            <input [(ngModel)] ="Tuesday" name="Tuesday" type="text" placeholder="Tuesday" class="form-control col-8 d-inline mb-2">
            <input [(ngModel)] ="Wednesday" name="Wednesday" type="text" placeholder="Wednesday" class="form-control col-8 d-inline mb-2">
            <input [(ngModel)] ="Thursday" name="Thursday" type="text" placeholder="Thursday" class="form-control col-8 d-inline mb-2">
            <input [(ngModel)] ="Friday" name="Friday" type="text" placeholder="Friday" class="form-control col-8 d-inline mb-2">
            <input [(ngModel)] ="Saturday" name="Saturday" type="text" placeholder="Saturday" class="form-control col-8 d-inline mb-2">
            <input [(ngModel)] ="Sunday" name="Sunday" type="text" placeholder="Sunday" class="form-control col-8 d-inline mb-2">
           </div>

           </div>

   <div class="col-md-6">
    <div class="mb-2">
        <input [(ngModel)] ="rName" name="rName" type="text" placeholder="Restuarant Name" class="form-control">
    </div>

    <div class="mb-2">
        <input [(ngModel)] ="address" name="address" type="text" placeholder="Restuarant Address" class="form-control">
    </div>

    <div class="mb-2">
        <input [(ngModel)] ="cuisine_type" name="cuisine_type" type="text" placeholder="Restuarant Cuisine Type" class="form-control">
    </div>


    <div class="mb-2">
        <label class="text-dark mb-2" for="">Reviews</label>
        <input [(ngModel)] ="rvName" type="text" name="rvName" placeholder="Name" class="form-control mb-2">
        <input [(ngModel)] ="date" type="text" name="date" placeholder="Date" class="form-control mb-2">
        <input [(ngModel)] ="rating" type="text" name="rating" placeholder="Rating" class="form-control mb-2">
        <input [(ngModel)] ="comments" type="text" name="comments" placeholder="Comments" class="form-control mb-2">

    </div>


<div class="mb-2">
   <label class="text-dark mb-2" for="">Location</label>
   <input [(ngModel)] ="lat" name="lat" type="text" placeholder="Latitude" class="form-control mb-2">
   <input [(ngModel)] ="lng" name="lng" type="text" placeholder="Longitude" class="form-control mb-2">
</div>

   </div>

   <div class="text-center mt-3">
    <button (click)="addProduct()" type="submit" class="btn btn-dark" > Add Restuarant </button>
   </div>

   </div>
    </form>

</div>
